@font-face {
  font-family: 'Calibre';
  src: url('../fonts/calibre/light/Calibre-Light.eot') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src:  url('../fonts/calibre/light/Calibre-Light.otf')  format('opentype'),
        url('../fonts/calibre/light/Calibre-Light.woff')  format('woff'),
        url('../fonts/calibre/light/Calibre-Light.ttf')  format('truetype'),
        url('../fonts/calibre/light/Calibre-Light.svg#Calibre-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url('../fonts/calibre/regular/Calibre-Regular.eot') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src:  url('../fonts/calibre/regular/Calibre-Regular.otf')  format('opentype'),
        url('../fonts/calibre/regular/Calibre-Regular.woff')  format('woff'),
        url('../fonts/calibre/regular/Calibre-Regular.ttf')  format('truetype'),
        url('../fonts/calibre/regular/Calibre-Regular.svg#Calibre-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url('../fonts/calibre/medium/Calibre-Medium.eot') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src:  url('../fonts/calibre/medium/Calibre-Medium.otf')  format('opentype'),
        url('../fonts/calibre/medium/Calibre-Medium.woff')  format('woff'),
        url('../fonts/calibre/medium/Calibre-Medium.ttf')  format('truetype'),
        url('../fonts/calibre/medium/Calibre-Medium.svg#Calibre-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
