// Fonts
$main-font: 'Calibre', sans-serif;
$headers-font: 'Calibre', sans-serif;
$code-font: Menlo, Monaco, "Courier New", monospace;

$sidebar-bg: #1d1b1d;
$sidebar-link: #7cafcc;

$content-bg: #1d1b1d;
$content-color: #aaaaaa;
$content-link-color: #7cafcc;

$h1-color: #fff;
$border-color: rgba(94,94,94,0.35);